.second {
    background-color: #FFF9F4;
    padding-bottom: 10px;
}

.nav {
    font-family: 'Abril Fatface', cursive;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

h2 {
    color: #363958;
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: 'Lobster', cursive;
    font-family: 'Staatliches', cursive;
}

h4 {
    color: #363958;
    font-family: 'Staatliches', cursive;
}

h5 {
    color: #FA804C;
}

p {
    font-family: 'Merienda', cursive;
}

.shoe {
    background-color: #e0dfdf;
    margin: 10px;
    border-radius: 20px;
}

.card {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 10px #f3f0f0;
}
